<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Ticketsystem</h1>
    <ul>
        <a href="/tickets">List All Tickets</a><br>
        <a href="/tickets/1">List Ticket with ID 1</a><br>
        <a href="/tickets/deadline">List All Tickets sorted to deadline</a><br>
        <a href="/tickets/priority">List All Tickets sorted to priority</a>
    </ul>
</div>

</body>
</html>
